.row:nth-child(even) {
  background: #D0E4F5;
  .cell {
    border-left: 2px solid #FFFFFF;
  }
}


.cell {
  border-left: 2px solid #D0E4F5;

  &first-child {
    border-left: none;
  }
}

.head {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  background: #3F51B4;
}
